* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

header {
  background-color: #562eff;
  width: 100%;
  height: 94px;
}

/*------------- 
    header
---------------*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 870px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.logo-title {
  color: #ffffff;
  font-size: 24px;
}

.navs ul {
  display: flex;
  list-style: none;
  font-size: 16px;
  color: #ffffff;
}

.navs ul li {
  padding: 5px;
}

/* main section  */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/*------------------
 top author section  
 -------------------*/

.author-blog {
  background-color: #ffffff;

  padding: 30px;
  width: 870px;
  border-radius: 5px;
}

.top-authors {
  margin-bottom: 30px;
}

.top-author {
  margin-bottom: 30px;
  font-size: 24px;
  color: #562eff;
}

.authors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 25px;
}

.author {
  display: flex;
  align-items: center;
}

.author img {
  width: 56px;
  height: 56px;
}

.author-name {
  margin-left: 16px;
  font-size: 18px;
  font-weight: 500;
}

hr {
  color: #d1d1d1;
  margin-bottom: 30px;
}

/*------------------
 top blog section  
 -------------------*/

.top-blogs {
  margin-bottom: 30px;
}

.top-blogs-title {
  color: #562eff;
  margin-bottom: 30px;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 25px;
}

.blog {
  display: flex;
}

.blog-banner {
  margin-right: 16px;
}

.blog-banner img {
  width: 117px;
  height: 117px;
}

.blog-title {
  font-size: 20px;
}

.blog-author {
  font-size: 14px;
  color: #9f9f9f;
}

/* course section  */

.course-container {
  background-color: #ffffff;
  width: 870px;
  margin-top: 30px;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.latest-course-title {
  color: #562eff;
  margin-bottom: 30px;
}

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

.course {
  width: 230px;
}

.course-banner img {
  width: 224px;
  height: 104px;
}

.course-review {
  display: flex;
  justify-content: space-between;
}

.course-author {
  color: #ed6b4f;
}

.fa-star.filled {
  color: #ffc014;
}

.empty {
  color: #aeaeae;
}

.time {
  border: 1px solid red;
  padding: 0 5px;
  border-radius: 25px;
  color: #ff4a60;
  background-color: #ffe4e8;
}

.course-info {
  margin: 15px 0 15px 0;
}

/* FOOTER SECTION */

footer {
  background-color: black;

  color: whitesmoke;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
}

.ft-header {
  padding: 10px 0 10px;
  font-size: 1.5rem;
  color: whitesmoke;
  margin-left: 40px;
}

.ft-cr {
  margin: 0 0 0 40px;
}

footer img {
  width: 50px;
}

footer li {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .authors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
  }

  .author-blog {
    width: 90%;
    border-radius: 20px;
  }

  .blogs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .course-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .courses {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 40px;
  }
}
